.cart-item {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 4rem;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}
